<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
</head>
<body>
<div class="container">
    <h1></h1>
    <p class="subtitle">Kinal App Elije un Crud a Usar </p>

    <div class="menu-buttons">
        <a th:href="@{/clientes/lista}" class="btn-clientes">
            <div class="btn-icon"></div>
            <span class="btn-title">Clientes</span>
        </a>

        <a th:href="@{/productos/lista}" class="btn-productos">
            <div class="btn-icon"></div>
            <span class="btn-title">Producto</span>
        </a>

        <a th:href="@{/venta/lista}" class="btn-ventas">
            <div class="btn-icon"></div>
            <span class="btn-title">ventas</span>
        </a>

        <a th:href="@{/DetalleVenta/lista}" class="btn-ventas">
            <div class="btn-icon"></div>
            <span class="btn-title">DetalleVenta</span>
        </a>
    </div>
</div>
</body>
</html>